.container {
    display: grid;
    grid-template-areas:
    "name name"
    "header header"
    "menu content"
    "footer footer";
    grid-template-columns: 1.2fr 7.8fr;
}

.name {
    grid-area: name;
    color: aliceblue;
    background-color: cadetblue;
    text-align: center;
}

nav {
    grid-area: header;
    width: inherit;
    display: absolute;
    border: 5px solid cadetblue;
    padding: 15px;
}

nav .menu {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4vw;
}

nav .menu a{
    font-size: 25px;
    text-decoration: none;
    color: inherit;
}

.leftSideMenu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 10%;
    font-size: 20px;
    border: 5px solid cadetblue;
    border-top: none;
    height: 100%;
}

.leftSideMenu a{
    /* text-decoration: none;
    color: inherit; */
}

.main {
    display: absolute;
    gap: 0px;
    padding: 2%;
    border-right: 5px solid cadetblue;
}

.footer {
    grid-area: footer;
    text-align: center;
    color: aliceblue;
    background-color: cadetblue;
}